{% extends "base.html" %}
{% load static %}

{% block content %}
<h3>{{selected_membership}}</h3>
<h3>{{selected_membership.price}}</h3>
{{ stripe_public_key}}
<form id="payment-form" action = "{% url 'payments' %}">
    <div id="card-element">
            <!-- Elements will create input elements here -->
        </div>
        <!-- We'll put the error messages in this element -->
        <div  class="mb-3 text-danger" id="card-errors" role="alert">
        </div>

<div id="stripe-token-handler"><span class="token"></span></div>
 <button id="submit" class="btn btn-sage rounded-0" type="submit">Complete Order
          </button>
</form>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'js/subscription.js' %}"></script>
{% endblock %}