/* COLOUR SCHEME
#CCE1D0
#8f9d95
#dfcce1
#9c8f9d
#e1dacc
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');
html, body {
 height: 100%;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 bottom: 0;
 width: 100%;
 position:relative;
}
.light-noshadow{
    background-color:#CCE1D0;
    box-shadow:none;
    text-shadow: none;
}
.nav-link{
    color:#9c8f9d!important;
    font-size:1rem;
    letter-spacing:1;
    font-family:"Rubik"!important;
    font-weight:300;
}
.nav-link:hover{
    color:#dfcce1!important;
}
.landingsection {
    background: url("../images/landing.jpg") no-repeat center center;
    background-size:cover;
    padding-bottom:8rem;
}
.landing-main {
    margin-top:6rem;
    padding-bottom:2rem;
    color:#9c8f9d;
    font-family:"Rubik";
}
.landing-sub {
    padding-bottom:6rem;
    color:#9c8f9d;
    font-family:"Karla";
}
.about-us, .testimonials {
    padding:8rem 3rem 8rem 3rem;
}
.section-head {
    font-family:"Rubik";
    color:#9c8f9d;
}
.section-text {
    font-family:"Karla";
}
.how-it-works {
    padding:0rem 3rem 0rem 3rem;
}
.how-icons {
    color:#dfcce1;
    font-size:3rem;
}
.how-title, .testimonial-intro, .about-title, .top-how {
    padding-bottom:4rem;
}
.name {
    font-family:"Karla";
    color:#9c8f9d;
}
.job {
    font-family:"Rubik";
    color:#9c8f9d;
    font-weight:300;
}
.quote {
    font-family:"Rubik";
    color:#8f9d95;
}
.star-icon {
    color:#dfcce1;
    padding:1.5rem 0rem 1.5rem 0rem
}
.icon-part{
    padding-top:2rem;
    padding-bottom:3rem;
}
.footer-head {
    color:#9c8f9d;
    font-family:"Rubik";
    font-weight:500;
    font-size:1.2rem;
}
.footer-text, .footer-link {
    color:#9c8f9d!important;
    font-family:"Karla";
    font-size:1rem;
}
.footer-link:hover {
    color:#8f9d95;
    text-decoration: underline;
}
