/* COLOUR SCHEME
#c6dabe
#a8b194
#e3d3fd
#9f94b1
#e1dacc
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');
html, body {
 height: 100%;
 font-family: "Karla";
 color: #68707c;
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 padding-bottom: 100px; /* height of your footer */
}
.login-container {
    width: 50vw;
}
footer {
 bottom: 0;
 width: 100%;
 position:relative;
}
.light-noshadow{
    background-color:#bbd4ce;
    box-shadow:none;
    text-shadow: none;
}
.nav-link{
    color:#264e70!important;
    font-size:1rem;
    letter-spacing:1;
    font-family:"Rubik"!important;
    font-weight:300;
}
.nav-link:hover{
    color:#fdebd3!important;
    text-decoration: underline!important;
}
.link {
    color:#f9b4ab;
}
.link:hover {
    color:#679186;
    text-decoration:underline;
}
.section {
    padding: 6rem 0rem 6rem 0rem;
}
.landingsection {
    background: url("../images/landing.jpg") no-repeat center center;
    background-size:cover;
    padding-bottom:8rem;
}
.dash-img {
    background: url("../images/dash-dog.png") no-repeat center center;
    background-size:cover;
    padding-bottom:20rem;
}
.about-img {
    background: url("../images/about.png") no-repeat center center;
    background-size: cover;
    padding-bottom:20rem;
}
.contact-img {
    background: url("../images/contact.png") no-repeat center center;
    background-size: cover;
    padding-bottom:19rem;
}
.bag-image {
    background: url("../images/shop-puppy.png") no-repeat center center;
    background-size: cover;
    padding-bottom:30rem;
}
.checkout-image{
    background: url("../images/checkout-puppy.png") no-repeat center center;
    background-size: cover;
    padding-bottom:15rem;
}
.signup-img {
    background: url("../images/signup-dog.png") no-repeat center center;
    background-size: cover;
    padding-bottom:25rem;
}
.page-head {
    margin-top:6rem;
    padding-bottom:2rem;
    color:#679186;
    font-family:"Rubik";
    font-size:4rem;
}
.page-sub {
    padding-bottom:3rem;
    color:#f9b4ab;
    font-family:"Karla";
    font-size:1.3rem;
}
.section-head{
    font-family:"Rubik";
    color:#679186;
    font-size:2.3rem;
}
.section-text, p {
    font-family:"Karla";
    color:#264e70;
    font-size:1.1rem;
}
.how-icons {
    color:#f9b4ab;
    font-size:2.4rem;
    padding-bottom:1.2rem;
}
.how {
    text-align:center;
    display:block;
}
.how-small {
    font-family:Karla;
    font-size:1rem;
    color:#264e70;
}
.how-med {
    font-family: Rubik;
    color:#679186;
    letter-spacing: 1.8px;
}
.name {
    font-family:"Karla";
    color:#264e70;
}
.job {
    font-family:"Rubik";
    color:#bbd4ce;
    font-weight:300;
}
.quote {
    font-family:"Rubik";
    color:#f9b4ab;
}
.star-icon {
    color:#fdebd3;
    padding:1.5rem 0rem 1.5rem 0rem
}
.icon-part{
    padding-top:2rem;
    padding-bottom:3rem;
}
.dash-icon {
    max-height:150px;
    max-width: 150px;
}
.nav-text {
    color:#679186;
    font-family:"Karla";
    font-size:1.1rem;
}
.nav-text:hover {
    color:#bbd4ce;
    text-decoration:underline;
}
.nav-section {
    margin-top: 8rem!important;
    margin-bottom: 5rem!important;
}
.next-month {
    padding-top:4rem;
}
.footer-head {
    color:#264e70!important;
    font-family:"Rubik";
    font-weight:500;
    font-size:1.2rem;
}
.footer-text, .footer-link {
    color:#264e70!important;
    font-family:"Karla";
    font-size:1rem;
}
.footer-link:hover {
    color:#fdebd3!important;
    text-decoration: underline;
}
.about-main {
    padding-top:3rem;
    padding-bottom:2rem;
    color:#f9b4ab;
    font-family:"Rubik";
}
.darkcolor {
    color:#e3d3fd;
}
.dog-name {
    font-family:"Rubik";
    color:#f9b4ab;
    font-size:1.4rem;
}
.dog-image {
    padding-top:5rem;
}
.dog-text{
        padding-top:3rem;
}
.dog-about {
    font-family:"Karla";
    font-size:1rem;
}
.dogs {
    padding-top:4rem;
}
.btn-lilac{
    font-family:"Rubik";
    border:none;
    color:#264e70!important;
    background-color:#f9b4ab;
}
.btn-lilac:hover{
    background-color:#679186;
    text-decoration:underline;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    min-height:80px;
}
.card-title {
    font-family: "Rubik";
    font-weight:300!important;
    color:#9f94b1;
    font-size:1.1rem;
}
.card-price{
    font-family:"Karla";
    color:#a8b194;
}
.small-text {
    font-size:1rem;
}
.pages-items {
    text-align:center;
    padding-top:5rem;
    font-family:"Rubik";
    color:#9f94b1;
}
.change-page-link, .login-link {
    font-family:"Karla";
    color:#a8b194;
    border:none;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.change-page-link:hover, .login-link:hover {
    text-decoration:underline;
    color:#c6dabe;
}
.page-top {
    margin-top:3rem!important;
}
.item-description {
    padding-top:10rem!important;
    font-family:"Karla";
    padding-left:5rem;
    padding-right:5rem;
}
.product-name {
    font-family:"Rubik";
    color:#a8b194;
    padding-top:10rem;
    padding-left:3rem;
    padding-right:3rem;
}
.product-price {
    font-family:"Karla";
    font-size:1.4rem;
    color:#9f94b1;
    padding-left:7rem;
    padding-right:7rem;
}
.item-image {
    padding-top:5rem;
}
.future-name {
    font-family:"Rubik";
    color:#679186;
    padding-left:3rem;
    padding-right:3rem;
}
.view-bag {
    font-family:"Rubik";
    font-size:1rem;
    color:#9f94b1;
    padding-right:8rem;
    padding-left:5rem;
}
.view-bag:hover {
    color:#a8b194;
    text-decoration:underline;
}
.quantity {
    font-family: "Rubik";
    color:#9f94b1;
    font-size:1.2rem;
}
.table-head {
    font-family:"Rubik";
    color:#a8b194;
    font-size:1rem;
    font-weight:300;
}
.update-link {
    font-family:"Rubik";
    font-size:0.8rem;
    color:#a8b194!important;
}
.update-link:hover {
    text-decoration:underline!important;
    color:#9f94b1!important;
}
.remvove-item:hover{
    color:#a8b194!important;
    text-decoration:underline!important;
}
.remove-item {

    color:#9f94b1!important;
    font-family:"Rubik";
    font-size:0.8rem;
}
.grand-total {
    font-family:"Rubik";
    color:#a8b194;
}
.cart {
    padding-bottom:5rem;
}
.darkgreen {
    color: #679186;
}
.some-purple {
   color: #264e70;
}
.post-link {
    color:#9f94b1;
}
.post-link:hover {
    color:#9f94b1;
    text-decoration:underline;
}
.is-hidden {
    visibility:hidden!important;
    display:none!important;
}
.sub-link {
    color:#a8b194;
    font-family: "Rubik";
}
.sub-link:hover {
    color:#9f94b1;
    font-family: "Rubik";
    text-decoration: underline;
}
.small-sect-head {
    text-align:center;
    color:#9f94b1;
    text-decoration: underline;
    font-size:1.2rem;
    font-family: "Rubik";
}
.member-type {
    font-size:1.7rem;
}
.dash-link {
    color:#264e70;
}
.dash-link:hover {
    color:#bbd4ce;
    text-decoration: underline;
}
.divider {
    width: 100px;
    padding-top: 3rem;
    padding-bottom:3rem;
    border-top:2px solid #679186;
    border-radius:50%;
    transform: rotate(180deg);
}
.divider:hover {
    width: 100px;
    padding-top: 3em;
    padding-bottom:2em;
    border-top:2px solid #f9b4ab;
    border-radius:50%;
    transform: rotate(360deg);
}