/* COLOUR SCHEME
#CCE1D0
#8f9d95
#dfcce1
#9c8f9d
#e1dacc
*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&family=Rubik:wght@300;400;500;700&display=swap');
html, body {
 height: 100%;
 font-family: "Karla";
}
.main-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 padding-bottom: 100px; /* height of your footer */
}
footer {
 bottom: 0;
 width: 100%;
 position:relative;
}
.light-noshadow{
    background-color:#CCE1D0;
    box-shadow:none;
    text-shadow: none;
}
.nav-link{
    color:#9c8f9d!important;
    font-size:1rem;
    letter-spacing:1;
    font-family:"Rubik"!important;
    font-weight:300;
}
.nav-link:hover{
    color:#dfcce1!important;
}
.landingsection {
    background: url("../images/landing.jpg") no-repeat center center;
    background-size:cover;
    padding-bottom:8rem;
}
.about-img {
    background: url("../images/about.png") no-repeat center center;
    background-size: cover;
    padding-bottom:20rem;
}
.contact-img {
    background: url("../images/contact.png") no-repeat center center;
    background-size: cover;
    padding-bottom:19rem;
}
.landing-main {
    margin-top:6rem;
    padding-bottom:2rem;
    color:#9c8f9d;
    font-family:"Rubik";
}
.landing-sub {
    padding-bottom:6rem;
    color:#9c8f9d;
    font-family:"Karla";
}
.about-us, .testimonials {
    padding:8rem 3rem 8rem 3rem;
}
.section-head {
    font-family:"Rubik";
    color:#9c8f9d;
}
.section-text {
    font-family:"Karla";
}
.how-it-works {
    padding:0rem 3rem 0rem 3rem;
}
.how-icons {
    color:#dfcce1;
    font-size:3rem;
}
.how-title, .testimonial-intro, .about-title, .top-how {
    padding-bottom:4rem;
}
.name {
    font-family:"Karla";
    color:#9c8f9d;
}
.job {
    font-family:"Rubik";
    color:#9c8f9d;
    font-weight:300;
}
.quote {
    font-family:"Rubik";
    color:#8f9d95;
}
.star-icon {
    color:#dfcce1;
    padding:1.5rem 0rem 1.5rem 0rem
}
.icon-part{
    padding-top:2rem;
    padding-bottom:3rem;
}
.footer-head {
    color:#9c8f9d;
    font-family:"Rubik";
    font-weight:500;
    font-size:1.2rem;
}
.footer-text, .footer-link {
    color:#9c8f9d!important;
    font-family:"Karla";
    font-size:1rem;
}
.footer-link:hover {
    color:#8f9d95;
    text-decoration: underline;
}
.dash-text{
    position: absolute;
   opacity: 85%;
  color:#dfcce1;
  background-color:#8f9d95;
  font-family:"Rubik";
  font-weight:200;
  top: 70%;
  font-size: 1.3em;
  padding-left: 0.34em;
  padding-right: 0.34em;
  padding-bottom: 0.2em;
  border-radius: 0px 7px 7px 0px;
}
.dash-text:hover{
    color:#8f9d95;
  background-color:#dfcce1;
  opacity: 1;
}
.about-main {
    padding-top:2rem;
    padding-bottom:2rem;
    color:#9c8f9d;
    font-family:"Rubik";
}
.darkcolor {
    color:#dfcce1;
    text-shadow: 2px 2px 7px black;
}
.dog-name {
    font-family:"Rubik";
    font-weight:200;
    color:#8f9d95;
    font-size:1.4rem;
}
.dog-image {
    padding-top:5rem;
}
.dog-text{
        padding-top:3rem;
}
.dog-about {
    font-family:"Karla";
    font-size:1rem;
}
.dogs {
    padding-top:4rem;
}
.btn-sage{
    color:white;
    background-color:#CCE1D0;
    font-family:"Rubik";
    font-weight:200;
    border:none;
}
.btn-sage:hover{
    color:black;
    background-color:#9c8f9d;
}
.card .card-body h1, .card .card-body h2, .card .card-body h3, .card .card-body h4, .card .card-body h5, .card .card-body h6 {
    min-height:80px;
}
.card-title {
    font-family: "Rubik";
    font-weight:300!important;
    color:#9c8f9d;
    font-size:1.1rem;
}
.card-price{
    font-family:"Karla";
    color:#8f9d95;
}
.small-text {
    font-size:1rem;
}
.pages-items {
    text-align:center;
    padding-top:5rem;
    font-family:"Rubik";
    font-weight:200;
    color:#9c8f9d;
}
.change-page-link, .login-link {
    font-family:"Karla";
    color:#8f9d95;
    border:none;
    padding-left:0.5rem;
    padding-right:0.5rem;
}
.change-page-link:hover, .login-link:hover {
    text-decoration:underline;
    color:#CCE1D0;
}
.page-top {
    margin-top:5rem!important;
}
.item-description {
    padding-top:10rem!important;
    font-family:"Karla";
    padding-left:5rem;
    padding-right:5rem;
}
.product-name {
    font-family:"Rubik";
    font-weight:200;
    color:#8f9d95;
    padding-top:10rem;
    padding-left:3rem;
    padding-right:3rem;
}
.product-price {
    font-family:"Karla";
    font-size:1.4rem;
    color:#9c8f9d;
    padding-left:7rem;
    padding-right:7rem;
}
.item-image {
    padding-top:5rem;
}
.future-name {
    font-family:"Rubik";
    font-weight:200;
    color:#8f9d95;
    padding-left:3rem;
    padding-right:3rem;
}