{% extends "base.html" %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block content %}
<div class="container">
<h1 class="text-center section-head mt-5">Login to Waggy Box</h1>

<p class="section-text text-center mt-5">If you have not created an account yet, then please
<a class="link pt-3" href="{{ signup_url }}">sign up here</a></p>

<form class="login text-center mt-5 section-text" method="POST" action="{% url 'account_login' %}">
<div class="row">
<div class="col- container">
  {% csrf_token %}
 {% crispy form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="link" href="{% url 'account_reset_password' %}">Forgot Password</a><br><br>
  <button class=" mt-5 btn btn-lilac px-5" type="submit">Login</button>
</div>
</div>
</form>
</div>
{% endblock %}
