{% extends "base.html" %}
{% load static %}

{% block head_title %}Login{% endblock %}

{% block content %}
<section class="login-img section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
      </div>
      <div class="col-sm-12 col-md-6  col-lg-4 ">
      <h1 class="text-center page-head-small">Login to Waggy Box</h1>
    <p class="section-text page-sub-small pt-2">Welcome back to Waggy Box! You can login here, but if you have not created an account yet, then please
<a class="page-nav pt-3" href="{{ signup_url }}">sign up here</a></p></div>
    </div>
</div>
  </section>
<div class="d-flex justify-content-center py-5" style="position:relative"><div class="divider" style="position:absolute"></div></div>  

<div class="section">
<div class="container">
<form class="login text-center mt-5 section-text" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
<div class="row d-flex justify-content-center pt-5">
  <div class="col-sm-12 col-md-6 col-lg-4">{{ form.as_p }}</div>
  </div>
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="page-nav mt-5" href="{% url 'account_reset_password' %}">Forgot your Password?</a><br><br>
  <div class="row d-flex justify-content-center">
  <div class="col-sm-6 col-md-6 col-lg-3">
  <button class="btn button-main mt-3 btn-block" type="submit">Login</button>
  </div>
  </div>
</form>
</div>
</div>
{% endblock %}
