{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-container">
  <section class="about-page">
    <div class="about-img">
      <h1 class="text-center about-main">About Waggy Box Co.</h1>
      <h4 class="text-center section-head darkcolor">Made by dog people, for dogs (and their people)</h4>
    </div>
    <h3 class="text-center section-head py-5">Get to know us a bit more</h3>
    <p class="text-center section-text px-5">Waggy Box was founded back in 2019. After spending weeks visiting various pet stores, our founders realised, finding durable, affordable and safe toys and treats was a tough task to achieve. So birthing the Waggy Box subscripton.</p>
    <p class="text-center section-text px-5">We search high and low for the best quality pet toys, trial and test them with our own dogs to ensure the best quality every time. </p>
    <p class="text-center section-text px-5">Waggy Box is passionate about animal welfare. For every box purchase, we will donate a box to local animal shelters, to allow dogs seeking forever homes the chance to enjoy the same quality of toys and treats that your special pets enjoy!</p>
    <h3 class="text-center section-head py-5">Our Waggy Testers</h3>
    <p class="text-center section-text px-5">Waggy Box would not have been possible without the three best cannines. Our chief toy tests, (CTT's) spend their days tasting treats, testing toys and of course, ensuring the squeaks are just loud enough to maximise fun for all your lovely pooches! </p>

    <div class="container">
      <div class="row dogs">
        <div class="col-sm-12 col-lg-6 col-md-6">
          <img src="{% static 'images/Caesar.jpeg' %}" class="img-fluid dog-image" max-width="300">
          <div class="col-sm-12 col-lg-6 col-md-6 dog-text">
            <h5 class="dog-name text-center pt-5">Caesar</h5>
            <p class="dog-about text-center">Our first and star tester is Caesar. The oldest and of course expert tester. Caesar is a 15 year old Springer Spaniel. Rescued from quite a tough living situation but his humans back when he was a puppy. Caesar never lived indoors, he hadn't experienced a bed or toys before in his life. Now, he's living the best life, with his two siters, Star & Cass, and his two feline brothers, who he even helped raise!</p>
            <p class="dog-about text-center">Caesar, is the key tester of anything fetch related. His favourite game to play and even at the age of 15, he will still happily run around the garden looking for someone to play fetch with him! </p>
          </div>
        </div>
        <div class="col-sm-12 d-block d-md-none">
          <img src="{% static 'images/Star.jpeg' %}" class="img-fluid dog-image" max-width="300">
          <div class="col-sm-12 col-lg-6 col-md-6 dog-text">
            <h5 class="dog-name text-center pt-5">Star</h5>
            <p class="dog-about text-center">Our second lovely lovely tester is Star. Star's a 9 year old, chunky Pitbull Terrier. Star was adopted from a local rescue back in 2016 by her humans after her mum fell inlove with her. She had been used for breeding for most of her life, so had never really experienced a life without having puppies. </p>
            <p class="dog-about text-center">A gentle giant, Star is the chief tester of treats. She has to taste and approve all treats that go into Waggy Box. Of course, these treats don't come without a bit of hardwork, Star can sit and give knuckle touches for all her tasty treats! </p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 d-none d-md-block">
          <img src="{% static 'images/Star.jpeg' %}" class="img-fluid dog-image" max-width="300">
          <div class="col-sm-12 col-lg-6 col-md-6">
            <img src="{% static 'images/Cass.jpeg' %}" class="img-fluid dog-image" max-width="300">
          </div>
          <div class="col-sm-12 col-lg-6 col-md-6 dog-text">
            <h5 class="dog-name text-center pt-5">Cass</h5>
            <p class="dog-about text-center">Our final tester, is Cass. A bananas three year old Springer/Collie mix. Cass was adopted as a puppy from a local rescue after her and her sister were dumped in a box in a field. Cass had a lot of behaviour issues and even still, isn't a fan of her two cat brothers, after almost three years. But she's getting there.</p>
            <p class="dog-about text-center">Cass is the all round tester. She ensures that all the toys are up to a strong standard to last enough time for her doggy pals. Cass spends more time playing with toys than there are hours in the day, so by now, she's a true expert!</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Footer -->
<footer class="page-footer font-small light-noshadow pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3"></div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-link">About Us</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Contact Us</a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}" class="footer-link">Register</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <h6 class="footer-text">Waggy Box,
          </li>
          <li>
            <h6 class="footer-text">123 Street </h6>
          </li>
          <li>
            <h6 class="footer-text">Dublin</h6>
          </li>
          <li>
            <h6 class="footer-text">123456789</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
