{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="main-container">
<div class="contact-img">
<h1 class="text-center about-main">Somethin' on your mind? </h1>
<h3 class="text-center section-head darkcolor">Let us know here!</h3>
</div>
</div>
<!-- Footer -->
<footer class="page-footer font-small light-noshadow pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3"></div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <a href="#!" class="footer-link">About Us</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="footer-link">Contact Us</a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}" class="footer-link">Register</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <h6 class="footer-text">Waggy Box,
          </li>
          <li>
            <h6 class="footer-text">123 Street </h6>
          </li>
          <li>
            <h6 class="footer-text">Dublin</h6>
          </li>
          <li>
            <h6 class="footer-text">123456789</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
