{% extends "base.html" %}
{% load static %}

{% block content %}


<div class="contact-img">
<h1 class="px-5 about-main text-right darkgreen">Somethin' on your mind? </h1>
<h3 class="px-5 section-head text-right darkgreen">Let us know here!</h3>
</div>
<div class="container">
<section class="mb-4">
    <h2 class="h1-responsive section-head text-center my-4">Contact us</h2>
    <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
        a matter of hours to help you.</p>

<div class="container my-5 py-5 z-depth-1">

  <!--Section: Content-->
  <section class="px-md-5 mx-md-5 text-center text-lg-left dark-grey-text">


    <!--Grid row-->
    <div class="row d-flex justify-content-center py-5">

      <!--Grid column-->
      <div class="col-md-6">

        <!-- Default form contact -->
       <form id="contact-form" action = "{% url 'contact' %}" name="contact-form" method="POST">
            {% csrf_token %}
          <input type="email" name="from_email" id="defaultContactFormEmail" class="form-control mb-4" placeholder = "Email Address" required>
          <input type="text" name="Subject" id="defaultContactFormSubject" class="form-control mb-4" placeholder = "Subject" required>
          <div class="form-group">
            <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3"
              placeholder="Message" name="message" required></textarea>
          </div>
          <button class="btn btn-lilac btn-block" type="submit">Send</button>

        </form>
      </div>
    </div>
    </section>
</div>

</section>
</div>
{% endblock %}
