{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
<div class="col-6 mt-5 text-center">
<a class="dash-text">Review Subscriptions</a>
<img src ="{% static 'images/navdogs1.jpeg' %}" height="300" width="300" class="img-fluid z-depth-2 dash-img">
</div>
<div class="col-6 mt-5 text-center">
<a class="dash-text">Review Subscriptions</a>
<img src ="{% static 'images/navdogs2.jpeg' %}" height="300" width="300" class="img-fluid z-depth-2 dash-img">
</div>
<div class="col-6 mt-5 text-center">
<a class="dash-text">Review Subscriptions</a>
<img src ="{% static 'images/navdogs3.jpeg' %}" height="300" width="300" class="img-fluid z-depth-2 dash-img">
</div>
<div class="col-6 mt-5 text-center">
<a class="dash-text">Review Subscriptions</a>
<img src ="{% static 'images/navdogs4.jpeg' %}" height="300" width="300" class="img-fluid z-depth-2 dash-img">
</div>
</div>
{% endblock %}