{% extends "base.html" %}
{% load static %}

{% block content %}
<!--Navbar -->
<nav class="navbar navbar-expand-lg navbar-light lightnav">
  <a class="navbar-brand" href="{% url 'index' %}">
    <img src="media/logo.png" height="70" class="pr-4" alt="Waggy Box logo">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4" aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav ml-auto">
      {% if request.user.is_authenticated %}
      <li class="nav-item text-center px-5">
        <a class="nav-link" href="#">Dashboard</a>
      </li>
      <li class="nav-item text-center px-5">
        <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
      </li>
      {% else %}
      <li class="nav-item text-center px-5">
        <a class="nav-link" href="{% url 'account_signup' %}">Get Started</a>
      </li>
      <li class="nav-item text-center px-5">
        <a class="nav-link" href="{% url 'account_login' %}">Login</a>
      </li>
      {% endif %}
    </ul>
  </div>
</nav>
<!--/.Navbar -->
<section class="landingsection">
  <div class="container landing">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2 class="text-center landing-main">Waggy Box</h2>
        <p class="text-center landing-sub">Your pets favourite toys, treats and goodies, picked for you, by us. <br>Tested by our expert 4-legged testers and shipped to your front door, every month.</p>
      </div>
    </div>
  </div>
</section>
<section class="about-us">
<div class="container">
<h2 class="text-center">About Waggy Box </h2>
<div class="about-text">
<p class="text-center">Dogs are extremely important to us.  We love ours, and we want to be able to share that love too! All the treats and toys in our boxes are naturally produced, and guaranteed to be loved by your 4-legged best friend! </p>
<p class="text-center">What's more, your subscription goes further than just your own dog! By sigining up to the monthly subscription, every time you recieve a box, a doggy with no home gets a box too!  Each month, we pick one animal shelter located anywhere in the world and send out a box for every box bought! </p>
</div>
</div>
</section>
<section class="how-it-works">
<h2 class="text-center">How does Waggy Box Work?</h2>
<div class="row">
<div class="col-lg-6 col-md-6 col-sm-12 text-center">
<i class="fas fa-user-plus how-icons"></i>
<h5>
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<h1 class="text-center">hello</h1>
</div>
</div>
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-12">
</div>
<div class="col-lg-6 col-md-6 col-sm-12">
<h1 class="text-center">hello</h1>
</div>
<div class="col-lg-3 col-md-3 col-sm-12">
</div>
</div>
</section>
{% endblock %}