{% extends "base.html" %}
{% load static %}

{% block content %}
<section class="landingsection section">
  <div class="container landing">
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-8">
      </div>
      <div class="col-sm-12 col-md-6  col-lg-4 ">
        <h1 class="text-center page-head">Waggy Box</h1>
        <p class="text-center page-sub">Your pets favourite toys, treats and goodies, picked for you, by us. <br>Tested by our expert 4-legged testers and shipped to your front door, every month.</p>
      </div>
    </div>
  </div>
</section>
<div class="d-flex justify-content-center py-5" style="position:relative">
  <div class="divider" style="position:absolute"></div>
</div>
<section class="section">
  <div class="container">
    <h2 class="section-head text-center pb-5">About Waggy Box </h2>
    <div class="section-text">
      <p class="text-center">Dogs are extremely important to us. We love ours, and we want to be able to share that love too! All the treats and toys in our boxes are naturally produced, and guaranteed to be loved by your 4-legged best friend! </p>
      <p class="text-center">What's more, your subscription goes further than just your own dog! By sigining up to the monthly subscription, every time you recieve a box, a doggy with no home gets a box too! Each month, we pick one animal shelter located anywhere in the world and send out a box for every box bought! </p>
    </div>
  </div>
</section>

<section class="section">
  <h2 class="text-center section-head pb-5">How does Waggy Box Work?</h2>
  <div class="container how">
    <div class="row d-flex justify-content-around">
      <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
        <i class="fas fa-user-plus how-icons"></i>
        <h5 class="how-med">Subscribe</h5>
        <p class="how-small">Monthly dog joy is just a click away.</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 z-depth-2 py-5 px-5">
        <i class="fas fa-shipping-fast how-icons"></i>
        <h5 class="how-med">Ship</h5>
        <p class="how-small">FREE shipping! All boxes ship on the 15<sup>th</sup> on every month</p>
      </div>
      <div class="col-sm-12 col-md-4 col-lg-4 z-depth-1 py-5 px-5">
        <i class="fas fa-dog how-icons"></i>
        <h5 class="how-med">Play</h5>
        <p class="how-small">They'll never bark at the postman again!</p>
      </div>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="testimonial-intro">
      <h2 class="text-center section-head mb-3">Testimonials</h2>
      <p class="text-center section-text mb-5">Here's some things from our amazing waggy customers, giving us their woof of approval!</p>
    </div>
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog1.jpg' %}" class="rounded-circle z-depth-2 img-fluid" alt="testimonial">
          </div>
          <h4 class="mt-4 name">Baxter</h4>
          <h6 class="my-3 job">Tennis ball thief</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>All the toys last forever, I just love them so much! So many hours of fun!!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog2.jpg' %}" class="rounded-circle z-depth-2 img-fluid" alt="testimonial">
          </div>
          <h4 class="name mt-4">Boo</h4>
          <h6 class="job my-3">Master Sock Destroyer</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>This box helped me with my sock addiciton. I'm so happy my human got me it!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog3.jpg' %}" class="rounded-circle z-depth-2 img-fluid" alt="testimonial">
          </div>
          <h4 class="name mt-4">Daisy</h4>
          <h6 class="job my-3">Prettiest Princess</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>I just adore the luxury box. I'm so happy, it's amazing!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
