{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="main-container">
<section class="landingsection">
  <div class="container landing">
    <div class="row">
      <div class="col-lg-8 col-md-6 col-sm-12">
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12">
        <h2 class="text-center landing-main">Waggy Box</h2>
        <p class="text-center landing-sub">Your pets favourite toys, treats and goodies, picked for you, by us. <br>Tested by our expert 4-legged testers and shipped to your front door, every month.</p>
      </div>
    </div>
  </div>
</section>
<section class="about-us">
  <div class="container">
    <h2 class="section-head text-center about-title">About Waggy Box </h2>
    <div class="section-text">
      <p class="text-center">Dogs are extremely important to us. We love ours, and we want to be able to share that love too! All the treats and toys in our boxes are naturally produced, and guaranteed to be loved by your 4-legged best friend! </p>
      <p class="text-center">What's more, your subscription goes further than just your own dog! By sigining up to the monthly subscription, every time you recieve a box, a doggy with no home gets a box too! Each month, we pick one animal shelter located anywhere in the world and send out a box for every box bought! </p>
    </div>
  </div>
</section>

<section class="how-it-works">
  <h2 class="text-center section-head how-title">How does Waggy Box Work?</h2>
  <div class="row top-how justify-content-around">
    <div class="col-lg-4 col-md-4 col-sm-12 section-text icon-part">
      <i class="fas fa-user-plus how-icons"></i>
      <h5 class="smallheading">Subscribe to Waggy Box</h5>
      <p>Monthly dog joy is just a click away.</p>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12 section-text icon-part">
      <i class="fas fa-shipping-fast how-icons"></i>
      <h5 class="smallheading">We ship your box of goodies.</h5>
      <p>FREE shipping! All boxes ship on the 15th</p> 
    </div>
  </div>
  <div class="row bottom-how">
    <div class="col-lg-4 col-md-4 col-sm-12 offset-lg-4 offset-md-4 section-text icon-part">
      <i class="fas fa-dog how-icons"></i>
      <h5 class="smallheading">Your month-long dog party begins.</h5>
      <p>They'll never bark at the postman again!</p>
    </div>
  </div>
</section>

<section class="testimonials">
  <div class="container">
  <div class="testimonial-intro">
    <h2 class="text-center section-head">Testimonials</h2>
    <p class="text-center section-text mb-5">Here's some things from our amazing waggy customers, giving us their woof of approval!</p>
  </div>
    <div class="row text-center">
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog1.png' %}" class="rounded-circle z-depth-2 img-fluid">
          </div>
          <h4 class="mt-4 name">Baxter</h4>
          <h6 class="my-3 job">Tennis ball thief</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>All the toys last forever, I just love them so much! So many hours of fun!!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog2.png' %}" class="rounded-circle z-depth-2 img-fluid">
          </div>
          <h4 class="name mt-4">Boo</h4>
          <h6 class="job my-3">Master Sock Destroyer</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>This box helped me with my sock addiciton. I'm so happy my human got me it!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
      </div>
      <div class="col-md-4 mb-4">
        <div class="testimonial">
          <div class="mx-auto">
            <img src="{% static 'images/tdog3.png' %}" class="rounded-circle z-depth-2 img-fluid">
          </div>
          <h4 class="name mt-4">Daisy</h4>
          <h6 class="job my-3">Prettiest Princess</h6>
          <p class="quote">
            <i class="fas fa-quote-left pr-2"></i>I just adore the luxury box. I'm so happy, it's amazing!</p>
          <div class="star-icon">
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="fas fa-star"> </i>
            <i class="far fa-star"> </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
<!-- Footer -->
<footer class="page-footer font-small light-noshadow pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3"></div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Navigation</h5>
        <ul class="list-unstyled">
          <li>
            <a href="{% url 'about' %}" class="footer-link">About Us</a>
          </li>
          <li>
            <a href="{% url 'contact' %}" class="footer-link">Contact Us</a>
          </li>
          <li>
            <a href="{% url 'account_signup' %}" class="footer-link">Register</a>
          </li>
          <li>
            <a href="#!" class="footer-link">Privacy Policy</a>
          </li>
        </ul>
      </div>

      <div class="col-md-3 mb-md-0 mb-3">
        <h5 class="text-uppercase footer-head">Contact Us</h5>

        <ul class="list-unstyled">
          <li>
            <h6 class="footer-text">Waggy Box, 
          </li>
          <li>
            <h6 class="footer-text">123 Street </h6>
          </li>
          <li>
           <h6 class="footer-text">Dublin</h6>
          </li>
          <li>
            <h6 class="footer-text">123456789</h6>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
{% endblock %}
