{% extends "base.html" %}
{% load static %}

{% block content %}
<h2 class="section-head mt-5 text-center">Shop</h2>
<h3 class="section-text text-center small-text mt-3">Love something from your box? Why not buy it again here!</h3>

<div class="pagination pages-items d-flex justify-content-around pr-5">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="change-page-link" href="?page={{ page_obj.previous_page_number }}">previous page</a>
        {% endif %}
        {% if page_obj.has_next %}
            <a class="change-page-link" href="?page={{ page_obj.next_page_number }}">next page</a>
        {% endif %}
    </span>
    <a href="{% url 'view_bag' %}" class="view-bag"><i class="fas fa-shopping-cart"></i>View Cart</a>
</div>
<div class="container mt-5">
  	<div class="row">
    {% for item in page_obj %}
      <div class="col-md-4 mb-4">
        <!--Card-->
        <div class="card">
          <div class="view overlay">
            <img src="{{ MEDIA_URL }}{{ item.image }}" class="card-img-top" alt="Product Image">
            <a href="{% url 'shop_item' item.id %}">
              <div class="mask rgba-white-slight waves-effect waves-light"></div>
            </a>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p class="mb-0 card-price">€ {{ item.price }}</p>
       		</div>
        </div>
      </div>
{% endfor %} 
    </div>
</div>



<div class="pagination pages-items  justify-content-center">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="change-page-link" href="?page=1">&laquo; first</a>
            <a class="change-page-link" href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="change-page-link" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="change-page-link" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}